watch_file secrets/sops/envs.yaml keys/hosts/* keys/users/* shell/* flake.nix

use_sops() {
    local path=${1:-$PWD/secrets.yaml}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

use sops $PWD/secrets/sops/envs.yaml

use flake
