[pause_resume]
recover_velocity: 50

[filament_switch_sensor filament_sensor]
pause_on_runout: False
runout_gcode: PAUSE
# insert_gcode: RESUME
event_delay: 1.0
pause_delay: 0.0001
switch_pin: PC2

[idle_timeout]
#gcode:
# A list of G-Code commands (one per line; subsequent lines
# indented) to execute on an idle timeout. The default is to run
# "TURN_OFF_HEATERS" and "M84".
timeout: 300
