[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
variable_extrude: 1
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  END_PRINT

[gcode_macro START_PRINT]
description: Commands to run before print
variable_parameter_EXTRUDER_TEMP: 210
variable_parameter_BED_TEMP: 60
variable_parameter_AREA_START: 0,0
variable_parameter_ENABLE_ABL: 0
gcode:
  G92 E0 ; Reset Extruder
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
  {% set ENABLE_ABL = params.ENABLE_ABL | default(0) | int %}
  M140 S{BED_TEMP} ;Start heating bed
  M104 S{EXTRUDER_TEMP} ;Start heating extruder
  G28 ; Home all axes
  Z_TILT_ADJUST
  {% if ENABLE_ABL == 1  %}
    BED_MESH_CALIBRATE AREA_START={params.AREA_START|default("0,0")} AREA_END={params.AREA_END|default("0,0")}
  {% endif %}
  G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
  G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
  M109 S{EXTRUDER_TEMP} ;Wait for extruder to reach temp before proceeding
  M190 S{BED_TEMP} ;Wait for bed to reach temp before proceeding
  G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
  G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
  G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
  G92 E0 ; Reset Extruder
  G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
  G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish

[gcode_macro END_PRINT]
gcode:
  ; LED_SUCCESS
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  # Move nozzle away from print while retracting
  M83 ; Relative E
  G91 ; Relative XYZ
  G1 X-2 Y-2 Z+5 E-3 F300
  G90 ; Absolute XYZ
  M82 ; Absolute E
  M104 S0 ; turn off temperature
  M140 S0 ; turn off heatbed
  M106 S0 ; Disable fan
  # Present print
  G1 X0 Y210 F3000 ; present print
  # Disable steppers
  M84

[gcode_macro PRESENT_PLATE]
gcode:
  {% set posy = printer.toolhead.axis_maximum.y|float %}
  {% set posx = 5.0 %}
  G0 X{posx} Y{posy} F3000

[extruder]
max_extrude_only_distance: 800

[gcode_macro LOAD_FILAMENT]
gcode:
  {% set speed = params.SPEED|default(300) %}
  {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
  G91
  G92 E0
  M83
  G1 E800 F{max_velocity}
  G1 E125 F{speed}

[gcode_macro UNLOAD_FILAMENT]
gcode:
  {% set speed = params.SPEED|default(300) %}
  {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
  G91
  G92 E0
  G1 E25 F{speed} # purge
  G1 E-50 F{speed}
  G1 E-800 F{max_velocity}

[gcode_macro Level]
gcode:
  SCREWS_TILT_CALCULATE

[gcode_macro G29]
gcode:
  G28
  BED_MESH_CALIBRATE

[gcode_macro M420]
gcode:
  G29

[gcode_macro M600]
gcode:
  CHANGE_FILAMENT

[gcode_macro M601]
gcode:
  CHANGE_FILAMENT

[gcode_macro CHANGE_FILAMENT]
gcode:
  M117 Change Filament
  PAUSE
  M117

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_BASE
; gcode parameters
variable_parameter_AREA_START : 0,0
variable_parameter_AREA_END : 0,0
; the clearance between print area and probe area
variable_mesh_area_offset : 5.0
; number of sample per probe point
variable_probe_samples : 2
; minimum probe count
variable_min_probe_count : 3
; scale up the probe count, should be 1.0 ~ < variable_max_probe_count/variable_min_probe_count
variable_probe_count_scale_factor : 1.0
; enable preference index
variable_enable_reference_index : False
gcode:
  BED_MESH_CLEAR
  {% if params.AREA_START and params.AREA_END %}
    {% set bedMeshConfig = printer["configfile"].config["bed_mesh"] %}
    {% set safe_min_x = bedMeshConfig.mesh_min.split(",")[0]|float %}
    {% set safe_min_y = bedMeshConfig.mesh_min.split(",")[1]|float %}
    {% set safe_max_x = bedMeshConfig.mesh_max.split(",")[0]|float %}
    {% set safe_max_y = bedMeshConfig.mesh_max.split(",")[1]|float %}

    {% set area_min_x = params.AREA_START.split(",")[0]|float %}
    {% set area_min_y = params.AREA_START.split(",")[1]|float %}
    {% set area_max_x = params.AREA_END.split(",")[0]|float %}
    {% set area_max_y = params.AREA_END.split(",")[1]|float %}

    {% if bedMeshConfig.probe_count.split(",")|length == 2 %}
      {% set meshPointX = bedMeshConfig.probe_count.split(",")[0]|int %}
      {% set meshPointY = bedMeshConfig.probe_count.split(",")[1]|int %}
    {% else %}
      {% set meshPointX = bedMeshConfig.probe_count.split(",")[0]|int %}
      {% set meshPointY = bedMeshConfig.probe_count.split(",")[0]|int %}
    {% endif %}

    {% set meshMaxPointX = meshPointX %}
    {% set meshMaxPointY = meshPointY %}


    {% if (area_min_x < area_max_x) and (area_min_y < area_max_y) %}
      {% if area_min_x - mesh_area_offset >=  safe_min_x %}
          {% set area_min_x = area_min_x - mesh_area_offset %}
      {% else %}
          {% set area_min_x = safe_min_x %}
      {% endif %}

      {% if area_min_y - mesh_area_offset >=  safe_min_y %}
          {% set area_min_y = area_min_y - mesh_area_offset %}
      {% else %}
          {% set area_min_y = safe_min_y %}
      {% endif %}

      {% if area_max_x + mesh_area_offset <=  safe_max_x %}
          {% set area_max_x = area_max_x + mesh_area_offset %}
      {% else %}
          {% set area_max_x = safe_max_x %}
      {% endif %}

      {% if area_max_y + mesh_area_offset <=  safe_max_y %}
          {% set area_max_y = area_max_y + mesh_area_offset %}
      {% else %}
          {% set area_max_y = safe_max_y %}
      {% endif %}

      {% set meshPointX = (meshPointX * (area_max_x - area_min_x) / (safe_max_x - safe_min_x) * probe_count_scale_factor)|round(0)|int %}

      {% if meshPointX < min_probe_count %}
          {% set meshPointX = min_probe_count %}
      {% endif %}

      {% if meshPointX > meshMaxPointX %}
          {% set meshPointX = meshMaxPointX %}
      {% endif %}

      {% set meshPointY = (meshPointY * (area_max_y -area_min_y ) / (safe_max_y - safe_min_y) * probe_count_scale_factor )|round(0)|int %}

      {% if meshPointY < min_probe_count %}
          {% set meshPointY = min_probe_count %}
      {% endif %}

      {% if meshPointY > meshMaxPointY %}
        {% set meshPointY = meshMaxPointY %}
      {% endif %}

      {% set algorithm = "lagrange" %}
      {% if "algorithm" in bedMeshConfig and meshPointX >=4 and meshPointY >=4 %}
          {% set algorithm = bedMeshConfig.algorithm %}
      {% endif %}

      {% if enable_reference_index %}
          {% set referenceIndex = (meshPointX * meshPointY / 2 - 1 )|round(0)|int %}
          BED_MESH_CALIBRATE_BASE mesh_min={area_min_x},{area_min_y} mesh_max={area_max_x},{area_max_y} probe_count={meshPointX},{meshPointY} samples={probe_samples|int} algorithm={algorithm} relative_reference_index={referenceIndex}
      {% else %}
          BED_MESH_CALIBRATE_BASE mesh_min={area_min_x},{area_min_y} mesh_max={area_max_x},{area_max_y} probe_count={meshPointX},{meshPointY} samples={probe_samples|int} algorithm={algorithm}
      {% endif %}
    {% else %}
        BED_MESH_CALIBRATE_BASE
    {% endif %}
  {% else %}
      BED_MESH_CALIBRATE_BASE
  {% endif %}
