[input_shaper]
shaper_freq_x: 76.2
shaper_type_x: mzv
shaper_freq_y: 56.2
shaper_type_y: mzv

# danger-klipper only
# enabled_extruders: extruder
# smoother_freq_x: 57.0
# shaper_type_x: smooth_mzv
# smoother_freq_y: 53.2
# shaper_type_y: smooth_mzv
