[scanner]
x_offset: 0.0
y_offset: 27.065

mcu: scanner
x_offset: 0.0
y_offset: 27.065
mode: touch
sensor: cartographer
sensor_alt: carto

backlash_comp: 0.00446
mesh_runs: 2

[adxl345 cartographer]
cs_pin: scanner:PA3
spi_bus: spi1

[stepper_z]
endstop_pin: probe:z_virtual_endstop # use cartographer as virtual endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0

[gcode_macro CARTO_TOUCH]
rename_existing: _CARTO_TOUCH
gcode:
  {% set TOUCH_TEMP = printer.configfile.config.scanner.scanner_touch_max_temp | default(150) | float %}
  {% set ACTUAL_TEMP = printer.extruder.temperature %}
  {% set TARGET_TEMP = printer.extruder.target %}
  {% if not "xyz" in printer.toolhead.homed_axes %}
      {action_respond_info("Printer not homed")}
  {% else %}
      {% if TARGET_TEMP > TOUCH_TEMP %}
          { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, TOUCH_TEMP)) }
           M104 S{ TOUCH_TEMP }
           TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ TOUCH_TEMP }
      {% else %}
          # Temperature target is already low enough, but nozzle may still be too hot.
          {% if ACTUAL_TEMP > TOUCH_TEMP %}
              { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, TOUCH_TEMP)) }
              TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ TOUCH_TEMP }
          {% endif %}
      {% endif %}
      _CARTO_TOUCH {rawparams}
      M109 S{ TARGET_TEMP }
  {% endif %}

# Fix interferencing
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
    {% set TARGET_TEMP = printer.heater_bed.target %}
    M140 S0
    _BED_MESH_CALIBRATE {rawparams}
    M140 S{TARGET_TEMP}
